.chat-title{
  align-self: flex-start;
}

/* 설명 텍스트 */
.chat-instruction {
  font-size: 24px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 30px;
}

/* 입력 필드 스타일 */
.name-input {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #006EFF; /* ✅ 파란색 밑줄 */
  outline: none;
  text-align: left;
  margin-bottom: 100px;
}

/* 다음 버튼 */
.next-button {
  margin-top: 200px;
  font-size: 16px;
  color: #006EFF;
  background: none;
  border: none;
  cursor: pointer;
}
